*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100px;
    vertical-align: middle;
}
#logo-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 60px;
}
main{
    background-color: gray;
    margin-top: 20px;
}
.conteiner{
    margin-top: 70px;
    background-color: white;
    width: 50%;
    margin: auto;
    border-radius: 5px;
}
.input{
    padding: 10px 20px;
    border-bottom: 3px solid gray;
}
.button{
    padding: 5px;
}
.one{
    background-color: #47adf1;
    color: white;
}
h3{
    margin-top: 30px;
}
h3::before{
    content: '\25BC';
    font-size: 10px;
    margin-right: 5px;
}
p{
    margin: 10px 0;
}
p::before{
    content: '\2713 ';
    margin-right: 5px;
    /* border: 1px solid red; */
}
span{
    font-size: 12px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    color: white;
}
.blue{
    background-color: #47adf1;
}
.violet{
    background-color: #9c72e4;
}
.green{
    background-color: #64c0a9;
}
.orange{
    background-color: #d863a1;
}
.red{
    background-color: #d863a1;
}
.lime{
    background-color: #b0c926;
}
.ballot::before{
    content: '\2717';

}